@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    font-family: "Robot", sans-serif;
    @apply text-primary-black bg-bg-pattern bg-local bg-no-repeat bg-cover;
}

.app{
    height: 100%;
    width: 100%;
}